body {
  background-color: var(--main-bg);
  color: var(--main-fg);

  font-weight: 500;
  font-family: Montserrat, Roboto, Helvetica Neue, HelveticaNeue, Helvetica, Arial, Microsoft Yahei, 微软雅黑, STXihei, 华文细黑, sans-serif;
  letter-spacing: 0.02em;

  a {
    color: var(--clr-primary) !important;
    font-weight: 600;
    fill: currentColor !important;

    &:hover, &:focus {
      color: var(--link-hover) !important;
    }
  }

  .btn:not(.disabled):hover, .btn:not(.disabled):active {
    margin-top: 0;
    border-bottom-width: 1px;
  }

  .btn-success, .alert-success, .badge-success {
    background: none !important;
    border: 1px solid darkgreen;
    color: darkgreen !important;

    &:hover, &:focus {
      color: green;
      border-color: green;
    }
  }

  .btn-info, .alert-info, .badge-info {
    background: none !important;
    border: 1px solid #5151d6;
    color: #5151d6 !important;

    &:hover, &:focus {
      color: #7b7bcb;
      border-color: #7b7bcb;
    }
  }

  .btn-primary, .alert-primary, .badge-primary {
    background: none !important;
    border: 1px solid var(--clr-primary);
    color: var(--clr-primary) !important;

    &:hover, &:focus {
      color: var(--clr-primary-darken-20);
      border-color: var(--clr-primary-darken-20);
    }
  }

  .btn-light, .alert-light, .badge-light, .btn-dark, .alert-dark, .badge-dark {
    background: none !important;
    border: 1px solid var(--clr-sidebar-text-secondary);
    color: var(--clr-sidebar-text-secondary) !important;

    &:hover, &:focus {
      color: var(--clr-sidebar-text-primary);
      border-color: var(--clr-sidebar-text-primary);
    }
  }

  .btn-warning, .alert-warning, .badge-warning {
    background: none !important;
    border: 1px solid #ae6323;
    color: #ae6323 !important;

    &:hover, &:focus {
      color: #c88e5e;
      border-color: #c88e5e;
    }
  }

  .btn-danger, .alert-danger, .badge-danger {
    background: none !important;
    border: 1px solid #b84343;
    color: #b84343 !important;

    &:hover, &:focus {
      color: #db7474;
      border-color: #db7474;
    }
  }

  .breadcrumb, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .table, .table thead th, .table th, .table td, .dropdown-menu, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .jumbotron {
    background-color: black;
    border-color: var(--clr-text-secondary);
    color: var(--main-fg);
  }

  .dropdown-item:hover, .dropdown-item:focus {
    background-color: var(--clr-sidebar-active-bg);
  }

  .breadcrumb {
    border: none;
  }

  .nav-tabs .nav-link, .nav-tabs .nav-link.disabled, .nav-tabs .nav-link.disabled:hover, .nav-tabs .nav-link.disabled:focus, .nav-tabs {
    border-color: var(--clr-text-secondary) !important;
  }

  .table-bordered, .table-bordered th, .table-bordered td {
    border-color: var(--clr-text-disabled) !important;
  }

  .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: var(--clr-primary) !important;
  }

  .breadcrumb-item.active {
    color: var(--clr-sidebar-text-disabled);
  }

  .text-dark {
    color: var(--clr-sidebar-hover-fg) !important;
  }

  a.text-dark {
    color: var(--clr-primary) !important;
  }

  a.text-dark:hover, a.text-dark:focus {
    color: var(--link-hover) !important;
  }

  small, .small {
    font-size: 0.85em;
    letter-spacing: 0.1em;
  }
}
